.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

.servicesLeftContainer {
  flex: 50%;
  display: flex;
  align-items: right;
  justify-content: right;
  float: right;
  padding: 0% 0% 0% 0%;
}

.servicesRightContainer {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.servicesImage {
  width: 75%;
  align-items: right;
  justify-content: right;
  float: right;
}


.servicesTextContainer {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.servicesText {
  text-align: left;
  color: black;
}

.paypalContainer {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0% 0% 0% 0%;
}

.servicesLink:hover {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
}

.servicesLink:active {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

@media only screen and (max-width: 1400px) {
  .servicesBoxIMG {
    width: 100%;
  }
  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
  }
  .servicesBox {
    border-radius: 12px;
    width: 100%;
    max-width: 630px;
  }
  .servicesRight {
    align-items: center;
    justify-content: center;
  }
  .servicesRightBottom {
    max-width: 630px;
    height: fit-content;
  }
  .servicesTextContainer {
    padding: 0% 5% 0% 5%;
    margin: 0% 0% 0% 0%;
  }

  .servicesLink {
    width: 100%;
  }

  .paypalContainer {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0% 0% 0% 25%;
  }
}
