.about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 10% 0% 10% 0%;
  margin: 0% 0% 0% 0%;
}

.aboutLeftContainer {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 0% 0% 0% 10%;
}

.aboutRightContainer {
  flex: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.aboutImage {
  border-radius: 50px;
  width: 80%;
  align-items: left;
  justify-content: left;
  float: left;
}


.aboutTextContainer {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.aboutText {
  text-align: left;
  color: white;
}

.aboutLink {
  width: 45%;
}

.aboutLink:hover {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);
  transform: scale(1.10);
}

.aboutLink:active {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

@media only screen and (max-width: 1400px) {
  .aboutBoxIMG {
    width: 100%;
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
  }
  .aboutBox {
    border-radius: 12px;
    width: 100%;
    max-width: 630px;
  }
  .aboutRight {
    align-items: center;
    justify-content: center;
  }
  .aboutRightBottom {
    max-width: 630px;
    height: fit-content;
  }
  .aboutTextContainer {
    margin-top: 50px;
  }

  .aboutImage {
    width: 90%;
    padding: 0% 0% 0% 5%;
  }

  .aboutLink {
    width: 100%;
  }

  .aboutLeftContainer {
    padding: 0% 10% 0% 10%;
  }
}
